<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listado de Iniciativas</title>
    <link rel="stylesheet" th:href="@{/styles/menu_lateral.css}" />
    <link rel="stylesheet" th:href="@{/styles/list_initiative2.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>
<body>
<div class="topbar"></div>
<div class="rightbar"></div>
<nav class="sidebar">
    <a href="#" class="titulo">Explorar</a>
    <div class="menu-content">
        <ul class="menu-items">
            <li class="item">
                <a th:href="@{/}" class="submenu-item">
                    <span>Inicio</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </li>
            <li class="item">
                <a th:href="@{/login}" class="submenu-item">
                    <span>Login</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </li>
            <li class="item">
                <a href="/initiative/list" class="submenu-item">
                    <span>Iniciativas</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </li>
            <li class="item">
                <a href="sdg/list" class="submenu-item">
                    <span>SDG's</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="menu-image">
        <img src="/images/logo_uji_white.png" alt="Imagen del menú" class="menu-image" />
    </div>
</nav>

<div class="mainc">
    <div class="container">
        <h1>Listado de Iniciativas</h1>
        <div class="initiative-list">
            <div th:each="initiative : ${initiative}" class="initiative-card">
                <h2 th:text="${initiative.name}" style="text-transform: capitalize;">Título de la iniciativa</h2>
                <div class="field">
                    <label><strong>Descripción:</strong></label>
                    <span th:text="${initiative.description}" style="text-transform: capitalize;"></span>
                </div>
                <div class="field">
                    <label><strong>Estado:</strong></label>
                    <span th:text="${initiative.state}" style="text-transform: capitalize;"></span>
                </div>
                <div class="field">
                    <label><strong>Fecha de inicio:</strong></label>
                    <span th:text="${initiative.startDate}" style="text-transform: capitalize;"></span>
                </div>
                <div class="field">
                    <label><strong>Fecha de fin:</strong></label>
                    <span th:text="${initiative.finishDate}" style="text-transform: capitalize;"></span>
                </div>
                <div class="field">
                    <label><strong>URL:</strong></label>
                    <span th:text="${initiative.url}" style="text-transform: capitalize;"></span>
                </div>
                <div class="field">
                    <label><strong>Motivación de la iniciativa:</strong></label>
                    <span th:text="${initiative.goal}" style="text-transform: capitalize;"></span>
                </div>
                <div class="field">
                    <label><strong>Resultado de la iniciativa:</strong></label>
                    <span th:text="${initiative.results}" style="text-transform: capitalize;"></span>
                </div>
                <div class="field">
                    <label><strong>SDG:</strong></label>
                    <span th:text="${sdg.get(initiative.idSDG)}" style="text-transform: capitalize;"></span>
                </div>

                <div class="field">
                    <label><strong>Número de iniciativa:</strong></label>
                    <span th:text="${initiative.id}" style="text-transform: capitalize;"></span>
                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>
