<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="sdg.css">
    <link rel="stylesheet" th:href="@{/styles/menu_lateral.css}" />
</head>
<body>
<div class="container">
    <h1>Objetivos de Desarrollo Sostenible</h1>
    <div class="sdg-container">
        <div class="sdg">
            <img src="sdg1.png" alt="SDG 1">
            <span>Objetivo 1: Fin de la pobreza</span>
        </div>
        <div class="sdg">
            <img src="sdg2.png" alt="SDG 2">
            <span>Objetivo 2: Hambre cero</span>
        </div>
        <div class="sdg">
            <img src="sdg3.png" alt="SDG 3">
            <span>Objetivo 3: Salud y bienestar</span>
        </div>
        <!-- Añade los demás SDGs aquí -->
    </div>
</div>
</body>
</html>
